@{
    var id = ViewData["id"] as string;
    var name = ViewData["name"] as string;
    var action = ViewData["action"] as string;
    var controller = ViewData["controller"] as string;
}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Bạn có chắc xóa người dùng :@name
                </h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="launchModal">Đóng</button>
                <button class="btn btn-primary confirm-delete" data-id="@Convert.ToInt32(@id)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('.closeModal').click(function () {
            $('#myModal').modal('hide');
        });


        $('.confirm-delete').click(function () {
            var id = $(this).data('id');
            deletCategoryById(id);
        });

    });

    function deletCategoryById(id) {
        $.ajax({
            url: 'user/delete',
            type: 'POST',
            dataType: 'json',
            data: { id: id },
            success: function (data) {
                $('#myModal').modal('hide');
                toastr.success(data.message, 'Thông báo', { positionClass: 'toast-top-right' });
                setTimeout(function () {
                    location.reload();
                }, 1000);
            },
            error: function (xhr, status, error) {
                $('#myModal').modal('hide');
                toastr.error(data.message, 'Thông báo', { positionClass: 'toast-top-right' });
            }
        });
    }
</script>

